/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * OrionDuelHunt implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * orionduelhunt.css
 *
 * OrionDuelHunt stylesheet
 *
 */


/********* You can start writing your CSS below this line: **********/


#resized_id {
    /*anachrony*/
    position: relative;
    transform-origin: top left;
}

.play_area {
    margin-left: 0%;
    margin-right: 0%;
    z-index: 0;
}

.board {
    background-image: url('img/orion_board.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px auto;
    width: 2419px;
    height: 1396px;
    border-radius: 20px;
    z-index: 1;
}

.board-inverted {
    transform: rotate(180deg);
}

.board-orange-inverted {
    transform: rotate(270deg);
}

.board-blue-inverted {
    transform: rotate(90deg);
}


/* Elements - Galaxies and Black Holes */


.hex {
    width: 100px;
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
}

.hex_black_hole {
   background-color: yellow;
}

.hex_galaxy {
   background-color: green;
}

.hex_blue_tile {
    background-color: blue;
}

.hex_orange_tile {
    background-color: orange;
}


.element {
    background-image: url('img/galax_hole.png');
    background-size: 200% 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index:10;
}

.element.galaxy {
	background-position: -0% -0%;
}

.element.black_hole {
	background-position: -100% -0%;
}

.tile {
    background-image: url('img/tiles.png');
    background-size: 200% 100%;
    width: 100px;
	height: 86px;
    position: absolute;
    z-index:5;
}
.tile.blue {
	background-position: -0% -0%;
}

.tile.orange {
	background-position: -100% -0%;
}

.appears
{          
    -webkit-animation: appears 2s  forwards;
    animation: appears 2s  forwards;    
}

@-webkit-keyframes "appears" {
    0% { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(1); }
}
