/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * OrionDuelHunt implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * orionduelhunt.css
 *
 * OrionDuelHunt stylesheet
 *
 */


/********* You can start writing your CSS below this line: **********/

@font-face {
    font-family: 'Acumin Pro ExtraCondensed';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro ExtraCondensed'), url(img/acumin-pro-extra-condensed.otf);
}

@font-face {
    font-family: 'AkzidenzGroteskBQ-Reg';
    font-style: normal;
    font-weight: normal;
    src: local('AkzidenzGroteskBQ-Reg'), url(img/AkzidenzGroteskBQ-Reg.ttf);
}

.piece_number {
    font-family: 'Acumin Pro ExtraCondensed';
    font-size: 70px;
    color: white;
    font-weight: normal;
    font-style: normal;
/*    font-stretch: ultra-condensed;*/
}



#resized_id {
    /*anachrony*/
    position: relative;
    transform-origin: top left;
}

.play_area {
    margin-left: 0%;
    margin-right: 0%;
    z-index: 0;
}

.board {
    background-image: url('img/playmat_empty.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px auto;
    width: 2419px;
    height: 1396px;
    border-radius: 20px;
    z-index: 1;
}

.board-inverted {
    transform: rotate(180deg);
}

.board-orange-inverted {
    transform: rotate(270deg);
}

.board-blue-inverted {
    transform: rotate(90deg);
}

.text_container {
    width:100px;
    height:80px;
    text-align:center;
/*    background-color:orange;*/
    position:absolute;
}

.inverted {
    transform: rotate(180deg);
}



/* Elements - Galaxies and Black Holes */


.hex {
    width: 100px;
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
}

.hex_black_hole {
   background-color: yellow;
}

.hex_galaxy {
   background-color: green;
}

.hex_blue_tile {
    background-color: blue;
}

.hex_orange_tile {
    background-color: orange;
}

.element {
    background-image: url('img/elements220.png');
    background-size: 200% 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index:10;
}

.element.galaxy {
    background-position: -0% -0%;
}

.element.black_hole {
    background-position: -100% -0%;
}

.tile {
    background-image: url('img/tiles.png');
    background-size: 200% 100%;
    width: 100px;
    height: 86px;
    position: absolute;
    z-index:5;
}
.tile.blue {
    background-position: -0% -0%;
}

.tile.orange {
    background-position: -100% -0%;
}

.appears
{
    -webkit-animation: appears 3s  forwards;
    animation: appears 3s  forwards;
}

@-webkit-keyframes "appears" {
    0% { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(1); }
}
